<!-- <section class="loginInfo">
    <header>
        <figure class="logo">
            <img (click)="goSignIn()" src="/assets/picture/logo-formdev.svg" />
        </figure>
    </header>
    <content>
        <form [formGroup]="newPasswordForm" (keyup.enter)="submitNewPassword()">
            <fd-input-text
                [type]="'password'"
                [label]="isCreate ? 'Renseignez votre mot de passe' : 'Renseignez votre nouveau mot de passe'"
                [help]="'Le mot de passe doit contenir au moins 6 caractères dont : une lettre minuscule, une lettre majuscule, un chiffre et un caractère spécial parmi !@#$%^&'"
                [abstractControl]="newPasswordForm.controls.password"
            >
            </fd-input-text>
            <fd-input-text
                [type]="'password'"
                (emitOnPaste)="onPaste($event)"
                [label]="isCreate ? 'Confirmez votre mot de passe' : 'Confirmez votre nouveau mot de passe'"
                [abstractControl]="newPasswordForm.controls.confirmPassword"
            >
            </fd-input-text>

            <div *ngIf="newPasswordForm.controls.confirmPassword.value && newPasswordForm.controls.password.value !== newPasswordForm.controls.confirmPassword.value" role="alert">
                Les mots de passe ne correspondent pas.
            </div>

            <fd-button [label]="'Envoyer'" [icon]="'icon-airplane'" [isLoading]="isLoading" class="signin noBorder" (emitOnClick)="submitNewPassword()"> </fd-button>
            <fd-button [label]="'Retour à la page de connexion'" class="link" (emitOnClick)="goSignIn()"> </fd-button>
        </form>
    </content>
    <footer>
        <figure class="nf">
            <img src="/assets/picture/nf.png" />
            <figcaption><a href="https://www.form-dev.fr/FormDev/PAGE_Connection/iBMAAODj9rIWAA" target="_blank">Certificat n° 203/432-2</a></figcaption>
        </figure>
    </footer>
</section>
<aside></aside> -->
