:host {
    display: grid;
    grid-template-columns: 50vw 50vw;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--white);

    section {
        display: grid;
        height: 100%;
        grid-template-rows: fit-content(0) auto fit-content(0);

        content {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            form {
                display: grid;
                gap: 1rem;
                text-align: center;
                width: 480px;

                td-input-text {
                    --form-field-height: 54px;
                    --form-field-padding: 0 1rem;
                    --form-field-font-size: var(--font-size-normal);
                    --form-field-background: var(--primaryColorLight);
                    --form-input-min-width: 380px;
                }

                td-button {
                    &.signin {
                        --button-height: 54px;
                        --button-background: var(--secondaryColor);
                        --button-color: var(--white);
                        --button-font-size: 18px;
                    }
                }
            }
        }

        figure {
            margin: 1rem;

            &.logo {
                img {
                    width: 280px;
                }
            }

            &.nf {
                display: flex;
                align-items: flex-end;
                gap: 1rem;

                a {
                    color: var(--black);
                }
            }
        }
    }

    aside {
        height: 100vh;
        width: 50vw;
        background-image: url(/assets/picture/signin.svg);
        background-size: min(80vh, 50vw);
        background-repeat: no-repeat;
        background-position: left 1rem center;
    }
}
