<!-- <section class="loginInfo">
    <header>
        <figure class="logo">
            <img (click)="goSignIn()" src="/assets/picture/logo-formdev.svg" />
        </figure>
    </header>
    <content>
        <form [formGroup]="forgotPasswordForm" (keyup.enter)="submitForgotPassword()">
            <td-input-text [label]="'Saisir votre adresse mail'" [placeholder]="'Email'" [abstractControl]="forgotPasswordForm.controls.email"> </td-input-text>
            <td-button [label]="'Envoyer'" [icon]="'icon-airplane'" [isLoading]="isLoading" class="signin noBorder" (emitOnClick)="submitForgotPassword()"> </td-button>
            <td-button [label]="'Retour à la page de connexion'" class="link" (emitOnClick)="goSignIn()"> </td-button>
        </form>
    </content>
    <footer>
        <figure class="nf">
            <img src="/assets/picture/nf.png" />
            <figcaption>
                <a href="https://www.form-dev.fr/FormDev/PAGE_Connection/iBMAAODj9rIWAA" target="_blank">Certificat n° 203/432-2</a>
            </figcaption>
        </figure>
    </footer>
</section>
<aside></aside> -->
