::root {
  --theme-foreground-color: #333269;
  --theme-background-color: #f0eff5;
  --theme-primary-color: #5855d6;
  --theme-secondary-color: #c0beff;
  --theme-terciary-color: #9592a6;
  --theme-white-color: #ffffff;
  --theme-opaque-gray-color: #f8f8fc;
}
