:host {
    .p-inputgroup {

        &.withFieldList {
            position: relative;

            input {
                padding-right: 3rem;
            }
            
        }

        .option {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            min-width: unset;
            border-left: 1px solid var(--form-field-border);
        }

        input {
            min-width: 90px;
        }

    }

    .fieldPicker {
        position: absolute;
        top: 1px;
        right: 0.5rem;
        --form-field-background: var(--secondaryColorLight);
        --button-color: var(--secondaryColor);
        --form-field-border: var(--secondaryColor);
        --form-field-border-hover: var(--secondaryColor);

        &.active {
            opacity: 1;
            transform: scale(1);
            animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        }
    }
}

:host-context(.stepForm .formBlock) {
    .p-inputgroup {
        min-width: var(--input-text-min-width, 320px);
        width: 100%;
    }
}

:host-context(.loginInfo) {
    input {
        font-size: 18px;
    }
}

:host-context(.mainSearch) {
    overflow: visible;

    .p-inputgroup {
        border-radius: 50vh;
        background-color: var(--white);
        border: none;
        color: var(--secondaryColor);
        transition: box-shadow 0.5s ease;

        &:focus-within {
            box-shadow: 0 0 0.5rem 0 var(--secondaryColor);
        }

        input {
            background-color: var(--white);
            font-size: var(--font-size-normal);

            &::placeholder {
                color: var(--secondaryColor);
            }
        }
    }
}
